[data-md-color-scheme="evident"] {
    --md-primary-fg-color:        #005CB9;
    --md-primary-fg-color--light: #56b7e6;
    --md-primary-fg-color--dark:  #0c2340;
    --md-accent-fg-color: #005CB9;
    --md-typeset-a-color:  #005CB9;
}