/*! CSS Used from: https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css */
*,::after,::before{box-sizing:border-box;}
article,footer{display:block;}
p{margin-top:0;margin-bottom:0rem;}
ul{margin-top:0;margin-bottom:0rem;}
code{font-family:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;font-size:0.5em;}
svg{overflow:hidden;vertical-align:middle;}
button{border-radius:0;}
button:focus{outline:1px dotted;outline:5px auto -webkit-focus-ring-color;}
button{margin:0;font-family:inherit;font-size:1rem;line-height:inherit;}
button{overflow:visible;}
button{text-transform:none;}
[type=button],button{-webkit-appearance:button;}
[type=button]:not(:disabled),button:not(:disabled){cursor:pointer;}
h1,h2,h3,h4,h5{margin-bottom:0rem;font-weight:300;line-height:0.5;}
h1{font-size:5rem;}
h2{font-size:2rem;}
h3{font-size:10rem;}
h4{font-size:1rem;}
h5{font-size:0.5rem;}
code{font-size:50%;color:#e83e8c;word-break:break-word;}
.btn{display:inline-block;font-weight:400;color:#212529;text-align:center;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-color:transparent;border:1px solid transparent;padding:.375rem .75rem;font-size:1rem;line-height:1.5;border-radius:.25rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
@media (prefers-reduced-motion:reduce){
.btn{transition:none;}
}
.btn:hover{color:#212529;text-decoration:none;}
.btn:focus{outline:0;box-shadow:0 0 0 .2rem rgba(0,123,255,.25);}
.btn:disabled{opacity:.65;}
.btn-link{font-weight:400;color:#005CB9;text-decoration:none;}
.btn-link:hover{color:#005CB9;text-decoration:underline;}
.btn-link:focus{text-decoration:underline;box-shadow:none;}
.btn-link:disabled{color:#6c757d;pointer-events:none;}
.fade{transition:opacity .15s linear;}
@media (prefers-reduced-motion:reduce){
.fade{transition:none;}
}
.fade:not(.show){opacity:0;}
.collapse:not(.show){display:none;}
.nav{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;padding-left:0;margin-bottom:0;list-style:none;}
.nav-link{display:contents;padding:0.2rem 0.1pt;}
.nav-link:focus,.nav-link:hover{text-decoration:none;}
.nav-tabs{border-bottom:1px solid #dee2e6;}
.nav-tabs .nav-item{margin-bottom:-1px;}
.nav-tabs .nav-link{border:1px solid transparent;border-top-left-radius:.25rem;border-top-right-radius:.25rem;}
.nav-tabs .nav-link:focus,.nav-tabs .nav-link:hover{border-color:#e9ecef #e9ecef #dee2e6;}
.nav-tabs .nav-link.active{color:#495057;background-color:#fff;border-color:#dee2e6 #dee2e6 #fff;}
.tab-content>.tab-pane{display:none;}
.tab-content>.active{display:block;}
.card{position:relative;display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;min-width:0;word-wrap:break-word;background-color:#fff;background-clip:border-box;border:1px solid rgba(0,0,0,.125);border-radius:.25rem;}
.card-body{-ms-flex:1 1 auto;flex:1 1 auto;padding:.25rem;}
.card-header{padding:.1rem .25rem;margin-bottom:0;background-color:rgba(0,0,0,.03);border-bottom:1px solid rgba(0,0,0,.125);}
.card-header:first-child{border-radius:calc(.1rem - 1px) calc(.25rem - 1px) 0 0;}
.accordion>.card{overflow:hidden;}
.accordion>.card:first-of-type{border-bottom:0;border-bottom-right-radius:0;border-bottom-left-radius:0;}
.accordion>.card:last-of-type{border-top-left-radius:0;border-top-right-radius:0;}
.accordion>.card .card-header{margin-bottom:-1px;}
.badge{display:inline-block;padding:.25em .4em;font-size:60%;font-weight:700;line-height:1;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:.25rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
@media (prefers-reduced-motion:reduce){
.badge{transition:none;}
}
.badge:empty{display:none;}
.btn .badge{position:relative;top:-1px;}
.badge-info{color:#fff;background-color:#17a2b8;}
.badge-warning{color:#212529;background-color:#ffc107;}
.badge-light{color:#212529;background-color:#f8f9fa;}
.badge-dark{color:#fff;background-color:#343a40;}
.list-group{display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;padding-left:0;margin-bottom:0;}
.list-group-item{position:relative;display:block;padding:.75rem 1.25rem;margin-bottom:-1px;background-color:#fff;border:1px solid rgba(0,0,0,.125);}
.list-group-item:first-child{border-top-left-radius:.25rem;border-top-right-radius:.25rem;}
.list-group-item:last-child{margin-bottom:0;border-bottom-right-radius:.25rem;border-bottom-left-radius:.25rem;}
.list-group-item:disabled{color:#6c757d;pointer-events:none;background-color:#fff;}
.mb-0{margin-bottom:0!important;}
.pl-5{padding-left:1rem!important;}
@media print{
*,::after,::before{text-shadow:none!important;box-shadow:none!important;}
a:not(.btn){text-decoration:underline;}
h2,h3,p{orphans:3;widows:3;}
h2,h3{page-break-after:avoid;}
.badge{border:1px solid #000;}
}

.md-typeset h2 {
    font-size: .5em;
}